# Veri Madeciniği 13. hafta Lab Çalışmaı
# NLP örnek: Mail mesajlarının spam / "spam değil" olarak sınıflandırılması

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
data = pd.read_csv('https://raw.githubusercontent.com/yasarkucukefe/YBS_405/main/data/spam_ham_dataset.csv')

In [ ]:
data.head()

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\nth...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\n( see a...",0
2,3624,ham,"Subject: neon retreat\nho ho ho , we ' re arou...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\nthis deal is to ...,0

In [ ]:
from nltk.corpus import stopwords
import string

In [ ]:
def metin_isle(mesaj):
    # noktalama işaretleri gitsin
    # stopwords gitsin
    kelimeler = [char for char in mesaj if char not in string.punctuation]
    kelimeler = ''.join(kelimeler)
    return [kelime for kelime in kelimeler.split() if kelime.lower() not in stopwords.words('english')]

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
bow_transormer = CountVectorizer(analyzer=metin_isle).fit(data['text'])

In [ ]:
# Eğitim - Test setlerinin ayrılması
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(data['text'], data['label'], test_size=0.2)

In [ ]:
from sklearn.pipeline import Pipeline

In [ ]:
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.naive_bayes import MultinomialNB

In [ ]:
pipeline = Pipeline([
    ('bow', CountVectorizer(analyzer=metin_isle)), # 1. adım, bag-of-word oluştur
    ('tfidf', TfidfTransformer()), # bag-of-words -> TF-IDF skorları
    ('classifier', MultinomialNB()), # train (eğitim)
])

In [ ]:
pipeline.fit(x_train, y_train)

Pipeline(steps=[('bow',
                 CountVectorizer(analyzer=<function metin_isle at 0x7fafd220e790>)),
                ('tfidf', TfidfTransformer()),
                ('classifier', MultinomialNB())])

In [ ]:
tahminler = pipeline.predict(x_test)

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_test, tahminler))

              precision    recall  f1-score   support

         ham       0.90      1.00      0.95       739
        spam       1.00      0.73      0.84       296

    accuracy                           0.92      1035
   macro avg       0.95      0.86      0.90      1035
weighted avg       0.93      0.92      0.92      1035